<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApiDemo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="main-content">
      <div class="menu">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% end %>
      </div>

      <% flash.each do |key, value| %>
        <div class="<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
